<!DOCTYPE html>
<html>
<nav>
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="/data">数据管理</a></li>
        <li><a href="/finetune">微调训练</a></li>
        <li><a href="/merge">模型合并</a></li>
        <li><a href="/eval">模型评估</a></li>
    </ul>
</nav>

<head>
    <title>大模型训练平台</title>
</head>
<body>
<h1>大模型训练平台</h1>
<h1>首页 算力GPU 使用情况</h1>

<table>
    <tr>
        <th>GPU</th>
        <th>名称</th>
        <th>使用率</th>
        <th>已使用显存</th>
        <th>总显存</th>
    </tr>
    {% for gpu in gpu_info %}
    <tr>
        <td>{{ gpu.index }}</td>
        <td>{{ gpu.name }}</td>
        <td>{{ gpu.utilization }}%</td>
        <td>{{ gpu.memory_used }}</td>
        <td>{{ gpu.memory_total }}</td>
    </tr>
    {% endfor %}
</table>


<table>
    <tr>
        <th>GPU占用程序</th>
        <th>显卡docker使用情况</th>
    </tr>
    {% for process in process_info %}
    <tr>
        <td>{{ process.name }}</td>
        <td>{{ process.usage }}</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>CPU</th>
        <th>频率</th>
        <th>使用率</th>
    </tr>
    {% for cpu in cpu_info %}
    <tr>
        <td>{{ cpu.index }}</td>
        <td>{{ cpu.freq }}</td>
        <td>{{ cpu.utilization }}%</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>总内存</th>
        <th>可用内存</th>
        <th>使用率</th>
    </tr>
    {% for mem in mem_info %}
    <tr>
        <td>{{ mem.total }}</td>
        <td>{{ mem.available }}</td>
        <td>{{ mem.percent }}%</td>
    </tr>
    {% endfor %}
</table>

<table>
    <tr>
        <th>磁盘</th>
        <th>挂载点</th>
        <th>总空间</th>
        <th>可用空间</th>
        <th>使用率</th>
    </tr>
    {% for disk in disk_info %}
    <tr>
        <td>{{ disk.index }}</td>
        <td>{{ disk.mount }}</td>
        <td>{{ disk.total }}</td>
        <td>{{ disk.available }}</td>
        <td>{{ disk.percent }}%</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>
